
<!-- THIS IS THE BASIC BOILERPLATE FOR 
     EVERY SINGLE PAGE WITHIN THE CAMPGROUNDS APP... 
      USING ejs-mate -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>B O I L E R P L A T E   !!!!!</title>
</head>
<body>
    <!-- By setting < %- body % > you inject any .ejs file into a common layout (this file)-->
    <%- body %> 
</body>
</html>