<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALL CAMPGROUNDS</title>
</head>
<body>
    <h1>All CAMPGROUNDS</h1>
    <ul>
        <% for (let campGrnd of allCampgrounds) {%> 
            <li><%= campGrnd.title %></li>
            <% } %> 
    </ul>
</body>
</html>
