
<!-- By calling/including the boiler plate's directory, you can now inject the body 
of the current html, into the boilerplate's body so you can now program to only one layout -->
<% layout('layouts/boilerplate') %>  <!-- include the boilerplates' directory so I can inject this body... -->
<!--Can now include my layouts, stylesheets, my javascript and have a common layout -->

<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data"> <!--multer uses this enctype for image upload (local & non-local)-->
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <!-- ABOUT campground[title] -> 
                        Groups things under "campground" 
                        so if I have multiple << campground[something] >> when our data is sent 
                        via POST request to the server, everything in the request.body will be 
                        stored under "campground" so we do this to group our content together -->
                <input class="form-control" type="text" id="title" name="newCampground[title]" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="title">Location</label>
                <input class="form-control" type="text" id="location" name="newCampground[location]" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <labe class="form-label" for="price">Price</labe>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" 
                    aria-describedby="price-label" name="newCampground[price]" required>
                    <div class="valid-feedback">Looks good!</div>
                  </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="location" name="newCampground[description]" required></textarea>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3 custom-file">
                <label for="image" class="form-label custom-file-label">Choose Image(s)</label>
                <input class="form-control" type="file" id="image" name="image" multiple>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Campground</button>
            </div>
            <a href="/campgrounds">Back to all Campgrounds</a>
        </form>
    </div>
</div>