
<!-- By calling/including the boiler plate's directory, you can now inject the body 
of the current html, into the boilerplate's body so you can now program to only one layout -->
<% layout('layouts/boilerplate') %>  <!-- include the boilerplates' directory so I can inject this body... -->
<!--Can now include my layouts, stylesheets, my javascript and have a common layout -->

<body>
    <form action="/campgrounds" method="POST">
        <div>
            <label for="title">Title</label>
            <!-- ABOUT campground[title] -> 
                    Groups things under "campground" 
                    so if I have multiple << campground[something] >> when our data is sent 
                    via POST request to the server, everything in the request.body will be 
                    stored under "campground" so we do this to group our content together -->
            <input type="text" id="title" name="newCampground[title]">
        </div>
        <div>
            <label for="title">Location</label>
            <input type="text" id="location" name="newCampground[location]">
        </div>
        <button>Add Campground</button>
        <a href="/campgrounds">Back to all Campbgrounds</a>
    </form>
</body>